<!DOCTYPE html>
<html>
<head>
    <title>Blood Pressure Entry Successful</title>
    <script>
        function goToPage_enter_blood_pressure() {
            window.location.href = "/enter_blood_pressure/";
        }
        function goTopPage_users() {
            window.location.href = "/users/";
        }
        function goTopPage_list_blood_pressure_entries() {
            window.location.href = "/list_blood_pressure_entries/";
        }
    </script>
</head>
<body>
    <h1>血壓輸入成功</h1>
    <p>您的血壓條目已成功記錄。</p>
        <br>b
        <button onclick="goToPage_enter_blood_pressure()">輸入血壓</button>
        <button onclick="goTopPage_users()">所有註冊使用者</button>
        <button onclick="goTopPage_list_blood_pressure_entries()">血壓輸入紀錄</button>
        <br>
</body>
</html>
