<!DOCTYPE html>
<html>
<head>
    <title>Blood Pressure Entry Successful</title>
    <script>
        function goToPage_enter_blood_pressure() {
            window.location.href = "/enter_blood_pressure/";
        }
        function goTopPage_users() {
            window.location.href = "/users/";
        }
        function goTopPage_list_blood_pressure_entries() {
            window.location.href = "/list_blood_pressure_entries/";
        }
    </script>
        {% load static%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href='/static/css/login.css' >
        <link rel="stylesheet" type="text/css" href="/static/ttpc/css/fullpage.css" />
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
</head>
<body>
    <div style="
        position: fixed;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background: #353535;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        color: #ffffff;
        border-radius: 20px;
    ">
    <h1>血壓輸入成功</h1>
    <p>您的血壓條目已成功記錄。</p>
        <br>
        <button class="button" onclick="goToPage_enter_blood_pressure()">輸入血壓</button>
        <button class="button" onclick="goTopPage_list_blood_pressure_entries()">血壓輸入紀錄</button>
        <br>
    </div>
</body>
</html>
